<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link rel="stylesheet" href="../../css/indexRender.css">
 <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet"> <title>Intiti Magazine</title>
 <title>Document</title>
</head>
<body>
 <div class="content">
 <div class="row1">
 <div class="advert">Advert 1</div>
 <div class="advert">Advert 2</div>
 </div>
 <div class="row2">
 <img class="logo" src="/assets/images/logo-final.png" alt="" class="logo" />

 <div class="navbar">
 <p class="navitem" onclick="location.href=`../../index.html`">News</p>
 <p class="navitem" onclick="location.href=`./pages/books-publication.html`">Magazines</p>
 <p class="navitem">Business</p>
 <p class="navitem">Tech</p>
 <p class="navitem">Culture</p>
 <p class="navitem">Religion</p>
 <p class="navitem">Opinion</p>
 <p class="navitem">Video Portal</p>
 <p class="navitem">About Us</p>

 </div>
 </div>
 <div class="row3">
 <div class="main">
 <h1> {{Title}} </h1>
 <div class="details">
 <p class="writer">{{Writer}}</p>
 <p class="dateWritten">{{Date}}</p>
 </div>
 <img src=" {{Picture}} " alt="">
 <div class="_body">
  {{Body}} 
 </div>
 </div>
 <div class="advert">
 <img src="../../assets/Animee/Africa-Improved-Food-1.gif" alt="">
 <img src="../../assets/Animee/Heineken_-1.gif" alt="">
 </div>
 
 </div>
 <div class="row5">
 <div class="news-au-pair">
 <div class="news-card">
 <img src="./assets/images/sample-slideshow.png" alt="" class="news-image">
 <p class="news-header">News Header</p>
 <p class="news-content">
 Sed pretium efficitur nulla, at euismod urna lacinia imperdiet. Quisque cursus tempus elit
 nec suscipit. Donec augue odio,
 </p>
 </div>
 <div class="news-card">
 <img src="./assets/images/sample-slideshow.png" alt="" class="news-image">
 <p class="news-header">News Header</p>
 <p class="news-content">
 Sed pretium efficitur nulla, at euismod urna lacinia imperdiet. Quisque cursus tempus elit
 nec suscipit. Donec augue odio,
 </p>
 </div>
 <div class="news-card">
 <img src="./assets/images/sample-slideshow.png" alt="" class="news-image">
 <p class="news-header">News Header</p>
 <p class="news-content">
 Sed pretium efficitur nulla, at euismod urna lacinia imperdiet. Quisque cursus tempus elit
 nec suscipit. Donec augue odio,
 </p>
 </div>


 </div>
 <div class="news-au-pair">
 <div class="news-card">
 <img src="./assets/images/sample-slideshow.png" alt="" class="news-image">
 <p class="news-header">News Header</p>
 <p class="news-content">
 Sed pretium efficitur nulla, at euismod urna lacinia imperdiet. Quisque cursus tempus elit
 nec suscipit. Donec augue odio,
 </p>
 </div>
 <div class="news-card">
 <img src="./assets/images/sample-slideshow.png" alt="" class="news-image">
 <p class="news-header">News Header</p>
 <p class="news-content">
 Sed pretium efficitur nulla, at euismod urna lacinia imperdiet. Quisque cursus tempus elit
 nec suscipit. Donec augue odio,
 </p>
 </div>
 <div class="news-card">
 <img src="./assets/images/sample-slideshow.png" alt="" class="news-image">
 <p class="news-header">News Header</p>
 <p class="news-content">
 Sed pretium efficitur nulla, at euismod urna lacinia imperdiet. Quisque cursus tempus elit
 nec suscipit. Donec augue odio,
 </p>
 </div>


 </div>
 </div>
 <div class="footer">

 <div class="footer-group">
 <h2>Contact Info</h2>
 <div class="footer-item">
 <img src="/assets/images/location.png" alt="" class="footer-image">
 <p class="footer-detail">Kanombe<br>KN XXX ST</p>
 </div>
 <div class="footer-item">
 <img src="/assets/images/phone.png" alt="" class="footer-image">
 <p class="footer-detail">+250 735 0000</p>
 </div>
 <div class="footer-item">
 <img src="/assets/images/message.png" alt="" class="footer-image">
 <p class="footer-detail">intiti@gmail.com</p>
 </div>
 </div>

 <div class="footer-group">
 <h2>Working hours</h2>
 <div class="footer-item">
 <img src="/assets/images/clock.png" alt="" class="footer-image">
 <p class="footer-detail">8:00AM-8:00PM</p>
 </div>

 </div>

 <div class="footer-group">
 <h2>Our Services</h2>
 <div class="footer-item">
 <img src="assets/images/circle.png" alt="" class="footer-image">
 <p class="footer-detail">Web design and development</p>
 </div>
 <div class="footer-item">
 <img src="assets/images/circle.png" alt="" class="footer-image">
 <p class="footer-detail">Software development</p>
 </div>
 <div class="footer-item">
 <img src="assets/images/circle.png" alt="" class="footer-image">
 <p class="footer-detail">Graphics design</p>
 </div>
 <div class="footer-item">
 <img src="assets/images/circle.png" alt="" class="footer-image">
 <p class="footer-detail">Elaboration Strategy</p>
 </div>
 </div>
 </div>
 </div>
</body>
</html>