*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
.content{
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */

}


/* row for adverts */

.row1{
    display: flex;
    flex-direction: row;
}
/* Row with LOGO and navigation bar */
.row2{
    display: flex;
    flex-direction: row;
    background: url("https://firebasestorage.googleapis.com/v0/b/intiti-website.appspot.com/o/imigongo.png?alt=media&token=db0b4bc9-d91c-42d9-ac65-12d74b81fbec");
    background-size: cover;
    background-repeat: no-repeat;
}
.row2 img{
    padding:0;
    margin:0;
    width: 15.3%;
    margin-left: 1.97584097859327%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;

}

.row2 .navbar{
    display: flex;
    flex-direction: row;
    margin-left: 3.96941896024465%;
    margin-top: 1.45259938837921%;
    margin-bottom: 1.45259938837921%;
    width: 100%;
}

.row2 .navbar p{
    margin-left: 2.67584097859327%;
    font-weight: 700;
    height: 100%;
    color: #535353;
    cursor: pointer;
    border: 4px transparent
}

/* Microsoft Like Hover */
.row2 .navbar p:hover{
    border-bottom: 2px #535353 dashed;
}


.row2 .navbar p:first-child{
    border-bottom: 4px #D52A31 solid;
}
.row3{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.row3 .main{
    display: flex;
    flex-direction: column;
}
.row3 .main h1{
    font-size: 3rem;
    opacity: 70%;
}
.row3 h2{ 
    font-size: 1.3rem;
    display: none;
}
.row3 .main .details{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.row3 .main .details .writer{
    font-weight: 700;

}
.row3 .main .details .dateWritten{
    font-size: .8rem;
    opacity: 50%;
}
.row3 .main img{
    width: 80%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}



.row3 .advert{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 10%;
    margin-top: 6rem;
    height: 50rem;
}
.row3 .advert img{
    width: 98%;
    height: 95%;
    margin-top: .5rem;
}

.row5 .news-au-pair{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.row5 .news-au-pair .news-card img{
    width: 100%;
    height: 9rem;
    border: none;

}
.row5  .news-au-pair .news-card{
    margin-left: 5%;
    cursor: pointer;
    background: #f1f1f1;
box-shadow:  5px 5px 10px #e8e8e8, 
             5px -5px 10px #ffffff;
     padding-bottom: 1rem;      
     margin-bottom: 1rem;  
     border-radius: .5rem;  
}

.row5  .news-au-pair .news-card:hover img{
    opacity: 80%;
}


.row5  .news-au-pair .news-card .news-header{
    font-weight: 700;
    color: #0C4B6E;
    font-size: 1.2rem;
    margin: .5rem;
}

.row5  .news-au-pair .news-card .news-content{
    color: #535353;
    margin-left: .5rem;
    margin-right: .5rem;
}

.footer{
    background: #0C4B6E;
    display: grid;
    padding: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
}
.footer .footer-item p{
    font-size: 1rem;
    color: #fff;
}
.footer .footer-item{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.footer .footer-group h2{
    color: #fff;
    font-size: 2rem;
}
.footer .footer-item img{
    width: 1.5rem;
    height: 1.5rem;
    padding-right: .5rem;
}
